<!DOCTYPE html>
<html lang="es">
  <%- include("./components/head.ejs") %>
  <body>
    <%- include("./components/header.ejs") %>

    <%- include("./components/main.ejs") %>
    <footer>
      <%- include('./components/contancto.ejs') %>
      <%- include('./components/redesSociales.ejs') %>
    </footer>

    <div id="buttonBrand"></div>
    <!--Carga de script-->
    <script src="https://genarogg.github.io/link-To-my-brand/js/main.js"></script>
  </body>
</html>
